Result for COCO (18 body parts)
{0,  "Nose"},{1,  "Neck"},{2,  "RShoulder"},{3,  "RElbow"},{4,  "RWrist"},{5,  "LShoulder"},
{6,  "LElbow"},{7,  "LWrist"},{8,  "RHip"},{9,  "RKnee"},{10, "RAnkle"},{11, "LHip"},
{12, "LKnee"},{13, "LAnkle"},{14, "REye"},{15, "LEye"},{16, "REar"},{17, "LEar"},

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [202]:
curr_dir = os.getcwd()
path = os.path.dirname(curr_dir)
print(path)
csv_file_path = os.path.join(path, 'dataset/DataCSV/taoyuan_angle1_2D_Original.csv')

/home/rasho/Falling-Person-Detection-based-On-AlphaPose

In [203]:
df = pd.read_csv(csv_file_path)
df = df.drop(['Unnamed: 0','idx'], axis=1)
#df = df.sort_values(['score'],ascending=False)

In [204]:
#df = df.drop_duplicates(subset = ['image_id','pos_class'], keep = 'first')
#df = df.sort_index()

In [205]:
df['pos_class'].value_counts()

FallingDown    5739
Standing       5339
Name: pos_class, dtype: int64

In [206]:
df.columns

Index(['image_id', 'pos_class', 'box', 'score', 'Hip_x', 'Hip_y', 'RHip_x',
       'RHip_y', 'RKnee_x', 'RKnee_y', 'RFoot_x', 'RFoot_y', 'LHip_x',
       'LHip_y', 'LKnee_x', 'LKnee_y', 'LFoot_x', 'LFoot_y', 'Spine_x',
       'Spine_y', 'Thorax_x', 'Thorax_y', 'Nose_x', 'Nose_y', 'Head_x',
       'Head_y', 'LShoulder_x', 'LShoulder_y', 'LElbow_x', 'LElbow_y',
       'LWrist_x', 'LWrist_y', 'RShoulder_x', 'RShoulder_y', 'RElbow_x',
       'RElbow_y', 'RWrist_x', 'RWrist_y'],
      dtype='object')

In [17]:
#df = df.drop(['nose_x','nose_y','LEye_x',
#       'LEye_y', 'REye_x', 'REye_y', 'LEar_x', 'LEar_y', 'REar_x', 'REar_y'], axis=1)

In [207]:
df.iloc[7000]

image_id                                               01257.png
pos_class                                               Standing
box            [677.9187622070312, 427.16796875, 203.74859619...
score                                                    1.50505
Hip_x                                                    769.999
Hip_y                                                    707.564
RHip_x                                                   797.982
RHip_y                                                   708.964
RKnee_x                                                  828.765
RKnee_y                                                  538.263
RFoot_x                                                  811.974
RFoot_y                                                  518.675
LHip_x                                                   742.015
LHip_y                                                   706.165
LKnee_x                                                  800.781
LKnee_y                                                  493.489
LFoot_x                                                  811.974
LFoot_y                                                  496.288
Spine_x                                                  771.398
Spine_y                                                  708.964
Thorax_x                                                 772.797
Thorax_y                                                 710.363
Nose_x                                                   803.579
Nose_y                                                   476.699
Head_x                                                   775.596
Head_y                                                   651.597
LShoulder_x                                               750.41
LShoulder_y                                              717.359
LElbow_x                                                 758.805
LElbow_y                                                 700.568
LWrist_x                                                 772.797
LWrist_y                                                 708.964
RShoulder_x                                              795.184
RShoulder_y                                              703.367
RElbow_x                                                 778.394
RElbow_y                                                 706.165
RWrist_x                                                 778.394
RWrist_y                                                 708.964
Name: 7000, dtype: object

In [208]:
import math

def get_angle(x,y):
    #return angle in degrees
    return (math.atan2(y,x)*(180/math.pi))

In [187]:
df['foot_x'] = df['RFoot_x']- df['LFoot_x']
df['foot_y'] = df['RFoot_y']- df['LFoot_y']
df['angle_x']= df['Head_x']-df['foot_x']
df['angle_y']= df['Head_y']-df['foot_y']

In [188]:
df[['angle_x','angle_y']]

          angle_x     angle_y
0      500.277008    4.101839
1      511.359970   -5.270096
2      498.159439    5.972019
3      498.322784    7.239643
4      501.590485    4.139412
...           ...         ...
11073  717.174225  109.702450
11074  714.393951  111.764980
11075  718.213501  149.597923
11076  714.300446  140.850685
11077  626.438843  133.196323

[11078 rows x 2 columns]

In [194]:
df['angle']= df.apply(lambda row: get_angle(x = row['angle_x'], y = row['angle_y']), axis=1)

In [209]:
df['Knee_x'] = df['RKnee_x']- df['LKnee_x']
df['Knee_y'] = df['RKnee_y']- df['LKnee_y']
df['SK_x']= df['Spine_x']-df['Knee_x']
df['SK_y']= df['Spine_y']-df['Knee_y']
df['dist'] = np.sqrt(np.square(df['SK_x']+df['SK_y']))

df3 = df[['pos_class','dist']]

In [221]:
df3['dist'].mean()

1062.6763745675987

In [216]:
df3['dist']/df3['dist'].max()

0        0.335011
1        0.340933
2        0.343182
3        0.343610
4        0.346809
           ...
11073    0.505819
11074    0.495959
11075    0.491503
11076    0.491974
11077    0.484782
Name: dist, Length: 11078, dtype: float64

In [223]:
df3.loc[(df3['pos_class']=='Standing')&(df3['dist']<1062)]

      pos_class         dist
5739   Standing  1008.469269
5740   Standing  1007.187965
5741   Standing   943.845444
5742   Standing   956.544617
5743   Standing   956.827789
...         ...          ...
11073  Standing   904.755068
11074  Standing   887.118208
11075  Standing   879.147766
11076  Standing   879.991457
11077  Standing   867.126949

[3074 rows x 2 columns]

In [199]:
df.loc[(df['pos_class']=='Standing')&(df['angle']<30)]

,image_id,pos_class,box,score,Hip_x,Hip_y,RHip_x,RHip_y,RKnee_x,RKnee_y,...,RElbow_x,RElbow_y,RWrist_x,RWrist_y,box_ratio,foot_x,foot_y,angle_x,angle_y,angle
5929,00186.png,Standing,"[522.7337646484375, 421.2015686035156, 211.585...",1.906449,563.783539,589.626801,572.048584,585.494263,698.779480,516.618774,...,574.803650,651.614746,665.719238,662.634827,2.071520,-11.020081,217.646484,698.779480,227.341827,18.021847
5930,00187.png,Standing,"[527.5572509765625, 417.86962890625, 220.36425...",2.010271,632.000732,522.260712,639.174072,523.695374,705.168518,517.956726,...,604.742126,635.599121,676.475281,647.076416,2.044338,-17.215942,212.330170,642.043335,337.189117,27.707613
6024,00281.png,Standing,"[661.1878051757812, 446.7486877441406, 226.481...",1.420357,747.887695,698.962097,764.107056,698.962097,784.749878,501.380707,...,861.423279,704.860046,746.413208,687.166199,2.032903,-29.489746,200.530365,787.698853,423.232849,28.249266
6027,00284.png,Standing,"[663.3301391601562, 448.3830261230469, 236.572...",1.748560,752.352905,676.755280,767.754761,659.813232,770.835144,484.231995,...,813.960388,462.669373,786.237000,471.910492,2.013551,-12.321472,21.562561,795.478119,456.508682,29.850636
6028,00285.png,Standing,"[672.1156616210938, 443.4112243652344, 233.752...",1.750730,731.162598,660.043488,726.597107,653.956177,772.251953,474.380493,...,817.906799,453.074890,766.164673,489.598755,2.022953,-9.130981,39.567566,790.513916,436.334747,28.897090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11073,05338.png,Standing,"[493.2997741699219, 6.455013751983643, 318.989...",2.859610,644.487701,221.847359,600.875793,213.540329,592.568787,267.536011,...,530.266052,188.619232,551.033630,246.768448,2.006816,-87.223816,8.307037,717.174225,109.702450,8.696828
11074,05339.png,Standing,"[491.9977722167969, 4.910760402679443, 322.873...",2.838507,642.924469,225.275299,600.883606,221.071213,596.679504,279.928436,...,533.618225,187.438522,550.434570,246.295731,2.009049,-84.081726,8.408173,714.393951,111.764980,8.891692
11075,05340.png,Standing,"[496.0231628417969, 4.8509135246276855, 316.59...",2.660438,641.951569,213.493126,598.667725,209.370850,598.667725,287.693970,...,532.711426,188.759506,553.322754,246.471283,2.003770,-103.056702,-12.366791,718.213501,149.597923,11.766004
11076,05341.png,Standing,"[495.2915344238281, 5.950863361358643, 317.956...",2.700341,641.849487,217.441696,598.378906,213.301636,598.378906,287.822632,...,532.138000,188.461304,552.838318,246.422089,2.005803,-99.361328,-8.280121,714.300446,140.850685,11.154869
11077,05342.png,Standing,"[493.2742614746094, 5.808394432067871, 320.596...",2.274351,649.398254,216.685074,609.741089,216.685074,609.741089,279.301636,...,534.601196,191.638458,555.473389,245.906143,2.004109,0.000000,-4.174438,626.438843,133.196323,12.003731

In [157]:
def get_ratio(box):
    
    x = float(box.strip('[,]').split(',')[0])
    y = float(box.strip('[,]').split(',')[1])
    w = float(box.strip('[,]').split(',')[2])
    h = float(box.strip('[,]').split(',')[3])
    
    return (w/h)+(h/w)

In [158]:
df.shape

(11078, 39)

In [159]:
df['box'] = df['box']

In [160]:
df['box_ratio']=df['box'].map(get_ratio)

In [161]:
df['box_ratio'][5273]

2.7493856182968752

In [162]:
df2 = df[['image_id','pos_class','box_ratio']]

In [166]:
df2.loc[(df2['pos_class']=='FallingDown')&(df2['box_ratio']>2)]

       image_id    pos_class  box_ratio
0     00001.png  FallingDown   2.001408
1     00002.png  FallingDown   2.001573
2     00003.png  FallingDown   2.001447
3     00004.png  FallingDown   2.000927
4     00005.png  FallingDown   2.001133
...         ...          ...        ...
5734  05804.png  FallingDown   2.126952
5735  05805.png  FallingDown   2.139340
5736  05806.png  FallingDown   2.133540
5737  05807.png  FallingDown   2.133524
5738  05808.png  FallingDown   2.133398

[5739 rows x 3 columns]

In [165]:
df2.loc[(df2['pos_class']=='FallingDown')&(df2['box_ratio']<2)]

Empty DataFrame
Columns: [image_id, pos_class, box_ratio]
Index: []

In [168]:
df2.loc[(df2['pos_class']=='Standing')&(df2['box_ratio']>2)]

        image_id pos_class  box_ratio
5739   00001.png  Standing   2.081794
5740   00002.png  Standing   2.081275
5741   00003.png  Standing   2.081977
5742   00004.png  Standing   2.083166
5743   00005.png  Standing   2.083208
...          ...       ...        ...
11073  05338.png  Standing   2.006816
11074  05339.png  Standing   2.009049
11075  05340.png  Standing   2.003770
11076  05341.png  Standing   2.005803
11077  05342.png  Standing   2.004109

[5339 rows x 3 columns]

In [137]:
df2.loc[(df2['pos_class']=='FallingDown')& (df2['box_ratio']>0.95) | (df2['pos_class']=='Standing')& (df2['box_ratio']<0.95)]

        image_id    pos_class  box_ratio
0      00001.png  FallingDown   0.963168
1      00002.png  FallingDown   0.961119
2      00003.png  FallingDown   0.962675
3      00004.png  FallingDown   0.970006
4      00005.png  FallingDown   0.966907
...          ...          ...        ...
10842  05107.png     Standing   0.835617
10843  05108.png     Standing   0.834048
10844  05109.png     Standing   0.832011
10845  05110.png     Standing   0.827191
10846  05111.png     Standing   0.828647

[5532 rows x 3 columns]

In [131]:
df2['pos_class'].unique

<bound method Series.unique of 0        FallingDown
1        FallingDown
2        FallingDown
3        FallingDown
4        FallingDown
            ...
11073       Standing
11074       Standing
11075       Standing
11076       Standing
11077       Standing
Name: pos_class, Length: 11078, dtype: object>

In [111]:
x = float(box.strip('[,]').split(',')[0])
y = float(box.strip('[,]').split(',')[1])
w = float(box.strip('[,]').split(',')[2])
h = float(box.strip('[,]').split(',')[3])

w/h

0.7110332059463901

In [112]:
h/w

1.4064040773862214

In [113]:
x = float(box.strip('[,]').split(',')[0])
y = float(box.strip('[,]').split(',')[1])
w = float(box.strip('[,]').split(',')[2])
h = float(box.strip('[,]').split(',')[3])

x1 = x-w/2
y1 = y-h/2
x2 = x+w/2

y2 = y+h/2
print(np.sqrt(np.square(x2-x1)+np.square(y2-y1)))

351.60493453155146

In [20]:
df.to_csv('data/drop_skeleton_fall2.csv')

In [ ]:
feat_df = df.iloc[:,4:]

In [ ]:
feat_df.head()

In [ ]:
df.columns

In [ ]:
x1_diff,y1_diff = feat_df['LShoulder_x']-feat_df['nose_x'],feat_df['LShoulder_y']-feat_df['nose_y']
x1y1_len = np.sqrt(np.square(x1_diff)+np.square(y1_diff))
x1,y1 = x1_diff/x1y1_len,y1_diff/x1y1_len
df['x1'] = x1
df['y1'] = y1

In [ ]:
x2_diff, y2_diff = feat_df['RShoulder_x']-feat_df['nose_x'],feat_df['RShoulder_y']-feat_df['nose_y']
x2y2_len = np.sqrt(np.square(x2_diff)+np.square(y2_diff))
x2, y2 = x2_diff/x2y2_len, y2_diff/x2y2_len
df['x2'] = x2
df['y2'] = y2

In [ ]:
x3_diff,y3_diff = feat_df['LElbow_x']-feat_df['LShoulder_x'],feat_df['LElbow_y']-feat_df['LShoulder_y']
x3y3_len = np.sqrt(np.square(x3_diff)+np.square(y3_diff))
x3,y3 = x3_diff/x3y3_len,y3_diff/x3y3_len
df['x3'] = x3
df['y3'] = y3

In [ ]:
x4_diff,y4_diff = feat_df['RElbow_x']-feat_df['RShoulder_x'],feat_df['RElbow_y']-feat_df['RShoulder_y']
x4y4_len = np.sqrt(np.square(x4_diff)+np.square(y4_diff))
x4,y4 = x4_diff/x4y4_len,y4_diff/x4y4_len
df['x4'] = x4
df['y4'] = y4

In [ ]:
x5_diff,y5_diff = feat_df['RWrist_x']-feat_df['RElbow_x'],feat_df['RWrist_y']-feat_df['RElbow_y']
x5y5_len = np.sqrt(np.square(x5_diff)+np.square(y5_diff))
x5,y5 = x5_diff/x5y5_len,y5_diff/x5y5_len
df['x5'] = x5
df['y5'] = y5

In [ ]:
x6_diff,y6_diff = feat_df['LWrist_x']-feat_df['LElbow_x'],feat_df['LWrist_y']-feat_df['LElbow_y']
x6y6_len = np.sqrt(np.square(x6_diff)+np.square(y6_diff))
x6,y6 = x6_diff/x6y6_len,y6_diff/x6y6_len
df['x6'] = x6
df['y6'] = y6

In [ ]:
x7_diff, y7_diff = feat_df['RHip_x']-feat_df['nose_x'],feat_df['RHip_y']-feat_df['nose_y']
x7y7_len = np.sqrt(np.square(x7_diff)+np.square(y7_diff))
x7, y7 = x7_diff/x7y7_len, y7_diff/x7y7_len
df['x7'] = x7
df['y7'] = y7

In [ ]:
x8_diff, y8_diff = feat_df['LHip_x']-feat_df['nose_x'],feat_df['LHip_y']-feat_df['nose_y']
len_8 = np.sqrt(np.square(x8_diff)+np.square(y8_diff))
x8, y8 = x8_diff/len_8, y8_diff/len_8
df['x8'] = x8
df['y8'] = y8

In [ ]:
x9_diff, y9_diff = feat_df['LKnee_x']-feat_df['LHip_x'],feat_df['LKnee_y']-feat_df['LHip_y']
len_9 = np.sqrt(np.square(x9_diff)+np.square(y9_diff))
x9, y9 = x8_diff/len_9, y9_diff/len_9
df['x9'] = x9
df['y9'] = y9

In [ ]:
x10_diff, y10_diff = feat_df['Rknee_x']-feat_df['RHip_x'],feat_df['Rknee_y']-feat_df['RHip_y']
len_10 = np.sqrt(np.square(x10_diff)+np.square(y10_diff))
x10, y10 = x10_diff/len_10, y10_diff/len_10
df['x10'] = x10
df['y10'] = y10

In [ ]:
x12_diff, y12_diff = feat_df['RAnkle_x']-feat_df['Rknee_x'],feat_df['RAnkle_y']-feat_df['Rknee_y']
len_12 = np.sqrt(np.square(x12_diff)+np.square(y12_diff))
x12, y12 = x12_diff/len_12, y12_diff/len_12
df['x12'] = x12
df['y12'] = y12

In [ ]:
x13_diff, y13_diff = feat_df['LAnkle_x']-feat_df['LKnee_x'],feat_df['LAnkle_y']-feat_df['LKnee_y']
len_13 = np.sqrt(np.square(x13_diff)+np.square(y13_diff))
x13, y13 = x13_diff/len_13, y13_diff/len_13
df['x13'] = x13
df['y13'] = y13

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df[df.iloc[:,30:].isna().any(axis=1)]

In [ ]:
df = df.dropna()

In [ ]:
df.isna().any()

In [ ]:
df.to_csv('data/victorized_res.csv')

In [ ]:
curr_dir = os.getcwd()
csv_file_path = os.path.join(curr_dir, 'data/res_with_flips.csv')

In [ ]:
df2 = pd.read_csv(csv_file_path)
df2 = df2.drop(['Unnamed: 0','idx'], axis=1)
df2 = df2.sort_values(['score'],ascending=False)

In [ ]:
df2 = df2.drop_duplicates(subset = ['image_id','pos_class'], keep = 'first')
df2 = df2.sort_index()
df2.head()

In [ ]:
df2

In [ ]:
df2.to_csv('data/clean_res_with_flips.csv')