Result for COCO (18 body parts)
{0,  "Nose"},{1,  "Neck"},{2,  "RShoulder"},{3,  "RElbow"},{4,  "RWrist"},{5,  "LShoulder"},
{6,  "LElbow"},{7,  "LWrist"},{8,  "RHip"},{9,  "RKnee"},{10, "RAnkle"},{11, "LHip"},
{12, "LKnee"},{13, "LAnkle"},{14, "REye"},{15, "LEye"},{16, "REar"},{17, "LEar"},

In [12]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [13]:
curr_dir = os.getcwd()
csv_file_path = os.path.join(curr_dir, 'data/Skeleton_output.csv')

In [14]:
df = pd.read_csv(csv_file_path)
#df = df.drop(['Unnamed: 0','idx'], axis=1)
#df = df.sort_values(['score'],ascending=False)

In [6]:
#df = df.drop_duplicates(subset = ['image_id','pos_class'], keep = 'first')
#df = df.sort_index()

In [15]:
df['pos_class'].value_counts()

Stand    33924
Fall     18828
Name: pos_class, dtype: int64

In [16]:
df.columns

Index(['Unnamed: 0', 'image_id', 'idx', 'pos_class', 'box', 'score', 'nose_x',
       'nose_y', 'LEye_x', 'LEye_y', 'REye_x', 'REye_y', 'LEar_x', 'LEar_y',
       'REar_x', 'REar_y', 'LShoulder_x', 'LShoulder_y', 'RShoulder_x',
       'RShoulder_y', 'LElbow_x', 'LElbow_y', 'RElbow_x', 'RElbow_y',
       'LWrist_x', 'LWrist_y', 'RWrist_x', 'RWrist_y', 'LHip_x', 'LHip_y',
       'RHip_x', 'RHip_y', 'LKnee_x', 'LKnee_y', 'Rknee_x', 'Rknee_y',
       'LAnkle_x', 'LAnkle_y', 'RAnkle_x', 'RAnkle_y'],
      dtype='object')

In [17]:
df = df.drop(['nose_x','nose_y','LEye_x',
       'LEye_y', 'REye_x', 'REye_y', 'LEar_x', 'LEar_y', 'REar_x', 'REar_y'], axis=1)

In [18]:
df.head()

,Unnamed: 0,image_id,idx,pos_class,box,score,LShoulder_x,LShoulder_y,RShoulder_x,RShoulder_y,...,RHip_x,RHip_y,LKnee_x,LKnee_y,Rknee_x,Rknee_y,LAnkle_x,LAnkle_y,RAnkle_x,RAnkle_y
0,0,00000.png,0.0,Fall,"[336.5726013183594, 164.6943817138672, 182.944...",3.013832,488.358612,291.937378,457.228851,256.916382,...,414.425385,393.109161,356.057068,490.389709,348.274628,451.477478,391.078064,572.105408,406.642944,533.193176
1,1,00000.png,0.0,Fall,"[158.96102905273438, 36.401363372802734, 183.1...",1.935334,339.518250,102.698494,290.504822,53.685070,...,246.650696,128.495041,233.752426,275.535309,233.752426,275.535309,189.898300,221.362579,184.738998,221.362579
2,2,00001.png,0.0,Fall,"[336.7330017089844, 164.3777313232422, 183.024...",3.009903,488.640747,291.793213,457.468781,252.828247,...,414.607330,389.205658,356.159851,490.514587,348.366852,451.549591,391.228333,572.341003,406.814331,533.376038
3,3,00001.png,0.0,Fall,"[158.01773071289062, 35.56503677368164, 185.01...",1.912334,339.832611,102.091469,293.238220,55.497082,...,249.232422,125.388657,233.700958,275.526123,233.700958,275.526123,192.283722,221.166000,187.106567,221.166000
4,4,00002.png,0.0,Fall,"[337.05609130859375, 165.1505126953125, 183.01...",3.007703,488.716980,292.053986,457.670227,253.245575,...,414.980988,389.075012,356.768372,489.976868,349.006683,451.168457,391.695953,571.474548,407.219299,532.666138

In [19]:
df.shape

(52752, 30)

In [20]:
df.to_csv('data/drop_skeleton_fall2.csv')

In [ ]:
feat_df = df.iloc[:,4:]

In [ ]:
feat_df.head()

In [ ]:
df.columns

In [ ]:
x1_diff,y1_diff = feat_df['LShoulder_x']-feat_df['nose_x'],feat_df['LShoulder_y']-feat_df['nose_y']
x1y1_len = np.sqrt(np.square(x1_diff)+np.square(y1_diff))
x1,y1 = x1_diff/x1y1_len,y1_diff/x1y1_len
df['x1'] = x1
df['y1'] = y1

In [ ]:
x2_diff, y2_diff = feat_df['RShoulder_x']-feat_df['nose_x'],feat_df['RShoulder_y']-feat_df['nose_y']
x2y2_len = np.sqrt(np.square(x2_diff)+np.square(y2_diff))
x2, y2 = x2_diff/x2y2_len, y2_diff/x2y2_len
df['x2'] = x2
df['y2'] = y2

In [ ]:
x3_diff,y3_diff = feat_df['LElbow_x']-feat_df['LShoulder_x'],feat_df['LElbow_y']-feat_df['LShoulder_y']
x3y3_len = np.sqrt(np.square(x3_diff)+np.square(y3_diff))
x3,y3 = x3_diff/x3y3_len,y3_diff/x3y3_len
df['x3'] = x3
df['y3'] = y3

In [ ]:
x4_diff,y4_diff = feat_df['RElbow_x']-feat_df['RShoulder_x'],feat_df['RElbow_y']-feat_df['RShoulder_y']
x4y4_len = np.sqrt(np.square(x4_diff)+np.square(y4_diff))
x4,y4 = x4_diff/x4y4_len,y4_diff/x4y4_len
df['x4'] = x4
df['y4'] = y4

In [ ]:
x5_diff,y5_diff = feat_df['RWrist_x']-feat_df['RElbow_x'],feat_df['RWrist_y']-feat_df['RElbow_y']
x5y5_len = np.sqrt(np.square(x5_diff)+np.square(y5_diff))
x5,y5 = x5_diff/x5y5_len,y5_diff/x5y5_len
df['x5'] = x5
df['y5'] = y5

In [ ]:
x6_diff,y6_diff = feat_df['LWrist_x']-feat_df['LElbow_x'],feat_df['LWrist_y']-feat_df['LElbow_y']
x6y6_len = np.sqrt(np.square(x6_diff)+np.square(y6_diff))
x6,y6 = x6_diff/x6y6_len,y6_diff/x6y6_len
df['x6'] = x6
df['y6'] = y6

In [ ]:
x7_diff, y7_diff = feat_df['RHip_x']-feat_df['nose_x'],feat_df['RHip_y']-feat_df['nose_y']
x7y7_len = np.sqrt(np.square(x7_diff)+np.square(y7_diff))
x7, y7 = x7_diff/x7y7_len, y7_diff/x7y7_len
df['x7'] = x7
df['y7'] = y7

In [ ]:
x8_diff, y8_diff = feat_df['LHip_x']-feat_df['nose_x'],feat_df['LHip_y']-feat_df['nose_y']
len_8 = np.sqrt(np.square(x8_diff)+np.square(y8_diff))
x8, y8 = x8_diff/len_8, y8_diff/len_8
df['x8'] = x8
df['y8'] = y8

In [ ]:
x9_diff, y9_diff = feat_df['LKnee_x']-feat_df['LHip_x'],feat_df['LKnee_y']-feat_df['LHip_y']
len_9 = np.sqrt(np.square(x9_diff)+np.square(y9_diff))
x9, y9 = x8_diff/len_9, y9_diff/len_9
df['x9'] = x9
df['y9'] = y9

In [ ]:
x10_diff, y10_diff = feat_df['Rknee_x']-feat_df['RHip_x'],feat_df['Rknee_y']-feat_df['RHip_y']
len_10 = np.sqrt(np.square(x10_diff)+np.square(y10_diff))
x10, y10 = x10_diff/len_10, y10_diff/len_10
df['x10'] = x10
df['y10'] = y10

In [ ]:
x12_diff, y12_diff = feat_df['RAnkle_x']-feat_df['Rknee_x'],feat_df['RAnkle_y']-feat_df['Rknee_y']
len_12 = np.sqrt(np.square(x12_diff)+np.square(y12_diff))
x12, y12 = x12_diff/len_12, y12_diff/len_12
df['x12'] = x12
df['y12'] = y12

In [ ]:
x13_diff, y13_diff = feat_df['LAnkle_x']-feat_df['LKnee_x'],feat_df['LAnkle_y']-feat_df['LKnee_y']
len_13 = np.sqrt(np.square(x13_diff)+np.square(y13_diff))
x13, y13 = x13_diff/len_13, y13_diff/len_13
df['x13'] = x13
df['y13'] = y13

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df[df.iloc[:,30:].isna().any(axis=1)]

In [ ]:
df = df.dropna()

In [ ]:
df.isna().any()

In [ ]:
df.to_csv('data/victorized_res.csv')

In [ ]:
curr_dir = os.getcwd()
csv_file_path = os.path.join(curr_dir, 'data/res_with_flips.csv')

In [ ]:
df2 = pd.read_csv(csv_file_path)
df2 = df2.drop(['Unnamed: 0','idx'], axis=1)
df2 = df2.sort_values(['score'],ascending=False)

In [ ]:
df2 = df2.drop_duplicates(subset = ['image_id','pos_class'], keep = 'first')
df2 = df2.sort_index()
df2.head()

In [ ]:
df2

In [ ]:
df2.to_csv('data/clean_res_with_flips.csv')